body{
    background-color: #000000;
    
}

header{
    background-color: #35b8b0;
    height: 80px;
    padding: 20px;
    position: fixed;
    min-width: 1560px;

    
    
    
}
*{
    margin: 0px;
    padding: 0px;
}

footer{
    clear: both;
    background-color: #35b8b0;
    height: 50px;
    text-align: center;
    padding: 10px;
}

h1{
    color: #FFFFFF;
    text-decoration: black;
    text-shadow: 2px 1px #000000;
}
p{
    color: whitesmoke;

}
article{
    padding: 20px;
    text-align: justify;
    
}

#principal{
    min-height: 900px;
    background-image: url('carroHonda.jpg');
    /*background-size: 100%;*/
    padding: 100px 0 0 0;
    background-repeat: no-repeat;
    /*height: 5000px;*/
    
}

.container{
    width: 1600px;
    margin: 0 auto;

}

.efeito{
    background-color: rgba(0,0,0,0.3);
    padding: 50px 0px 50px 0px;
    margin-top: 80px;
}

div#menu{
    float: right;
    margin-top: 20px;

}

div#nomeMarca{
    float: right;
    margin-top: 20px;
}

#menu a{
    padding: 15px 10px;
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px black;
    margin-left: 25px;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 10px;
}
#menu a:hover{
    background-color: #ff0000;
    color: orange;
    transition: 0.5s;
}

div#logo{
    float: left;
}
div#nomeMenu{
    float: right;
}

img#logoHonda{
    max-height: 75px;
    width: auto;
    margin: 5px -10px auto;
}
h1#Honda{
    text-align: left;
    text-decoration-style: dashed;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: firebrick;
}
